fastapi==0.115.6
uvicorn[standard]==0.34.0
gunicorn==23.0.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pydantic-settings==2.7.1
geoalchemy2==0.16.0
alembic==1.14.0

geopandas==1.0.1
shapely==2.0.6
pyproj==3.7.0
rasterio==1.4.3
rioxarray==0.18.1
xarray==2024.11.0
numpy==2.2.1
pandas==2.2.3
osmnx==2.0.0
earthengine-api==1.4.3
geemap==0.35.1

celery==5.4.0
redis==5.2.1
weasyprint==63.1
jinja2==3.1.5